path {
  transition: fill 0.1s linear;
}

path:hover {
  fill: #565656;
}

.map {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 15%;
}

.map svg {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: relative;
}

.map #india {
  fill: #46aaaa;
}

.map #usa {
  fill: #46aaaa;
}

.map #ethiopia {
  fill: #46aaaa;
}

.map #south_africa {
  fill: #46aaaa;
}

.map #south_africa:hover {
}

.south-africa {
  display: none;
  position: absolute;
  top: 20%;
  left: 30%;
  .courses-item{
    background-color: aliceblue;
  }
}

.usa {
  display: none;
  position: absolute;
  top: 40%;
  left: 30%;
  .courses-item{
    background-color: aliceblue;
  }
}

.ripple {
  background-color: #006857;
  width: 0.5em;
  height: 0.5em;
  border-radius: 200rem;
  animation: ripple 3s linear infinite;
  position: absolute;
  z-index: 999;
}

.ripple-1 {
  animation-delay: 0.1s;
  position: absolute;
  top: 35rem;
  left: 30rem;
}

.ripple-2 {
  animation-delay: 2s;
  position: absolute;
  top: 52.7rem;
  left: 55.5rem;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0rem rgba(148, 148, 148, 0.2),
                0 0 0 0.4rem rgba(40, 139, 113, 0.2),
                0 0 0 1rem rgba(117, 117, 117, 0.2),
                0 0 0 1rem rgba(21, 148, 159, 0.306);
  }
  100% {
    box-shadow: 0 0 0 1rem rgba(21, 148, 159, 0.436),
                0 0 0 1.2rem rgba(21, 148, 159, 0.501),
                0 0 0 1.5rem rgba(21, 148, 159, 0.247),
                0 0 0 3rem rgba(21, 148, 159, 0.072);
  }
}